.row {
  max-width: $grid-width;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;

  &:not(:last-child) {
    margin-bottom: $gutter-vertical;
  }

  [class*="col-"] {
    flex: 1;

    &:not(:last-child) {
      margin-right: $gutter-horizontal;
    }
  }

  [class*="col-2"] {
    flex: 2 0 $gutter-horizontal;
  }

  [class*="col-3"] {
    flex: 3 0 ($gutter-horizontal * 2);
  }
}
