.form {
  display: flex;
  flex-direction: column;

  &__group:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__group--size {
    display: flex;

    @include respond(phone) {
      flex-direction: column;
    }
  }

  &__input {
    font-size: 1.5rem;
    font-family: inherit;
    background-color: rgba($color-white, 0.5);
    color: inherit;
    width: 90%;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    border: none;
    border-bottom: 3px solid transparent;

    transition: all 0.3s;

    @include respond(phone) {
      width: 100%;
    }

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
      border-bottom: 3px solid $color-primary;

      &:invalid {
        border-bottom: 3px solid $color-secondary-dark;
      }
    }

    &::placeholder {
      color: $color-gray-dark-2;
    }
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-2rem);
  }

  &__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s;
  }

  &__radio-group {
    display: flex;
    flex: 1;
    align-items: center;

    @include respond(phone) {
      margin-bottom: 2rem;
    }
  }

  &__radio-input {
    display: none;
  }

  &__radio-label {
    font-size: $default-font-size;
    cursor: pointer;
    display: flex;
    // flex: 1;
    // justify-content: space-evenly;
  }

  &__radio-button {
    height: 3rem;
    width: 3rem;
    border: 4px solid $color-primary;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1.5rem;

    &::after {
      content: "";
      display: block;
      height: 1.4rem;
      width: 1.4rem;
      border-radius: 50%;
      background-color: $color-primary;
      opacity: 0;

      transition: opacity 0.2s;
    }
  }

  &__radio-input:checked + &__radio-label &__radio-button::after {
    opacity: 1;
  }
}
